/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define CLMK0 0
#define CLMK1 1
#define QWRTY 2
#define LOWER 3
#define RAISE 4
#define NMBRS 5
#define FKEYS 6

&mt {
  tapping-term-ms = <200>;
};

&lt {
  tapping-term-ms = <200>;
};

/ {
  behaviors {
  hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };

  bhm: balanced_homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
    };

  rpi: require_prior_idle {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
	    require-prior-idle-ms = <125>;
      bindings = <&kp>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    colemak_mod_dh_01 {
      // Colemak-mod-DH Keyboard Layout (with homerow mods)
      // -------------------------------------     -------------------------------------
      // | ESC |  Q  |  W  |  F  |  P  |  B  |     |  J  |  L  |  U  |  Y  |  ;  |CMLK1|
      // | TAB |  A  |  R  |  S  |  T  |  G  |     |  M  |  N  |  E  |  I  |  O  |  '  |
      // | CAPS|  Z  |  X  |  C  |  D  |  V  |     |  K  |  H  |  ,  |  .  |  /  | RET |
      // -------------------------------------     -------------------------------------
      //                   |FKEYS|LOWER| SPC |     | BSPC|RAISE|NMBRS|
      //                   -------------------     -------------------
      bindings = <
        &kp ESC  &kp Q &kp W      &kp F      &kp P       &kp B            &kp J        &kp L       &kp U      &kp Y      &kp SEMI &to CLMK1
        &kp TAB  &kp A &hm LGUI R &hm LALT S &hm LCTRL T &hm LSHIFT G     &hm RSHIFT M &hm RCTRL N &hm RALT E &hm RGUI I &kp O    &kp SQT
        &kp CAPS &kp Z &kp X      &kp C      &kp D       &kp V            &kp K        &kp H       &kp COMMA  &kp DOT    &kp FSLH &kp RET
                                       &tog FKEYS &mo LOWER &kp SPACE     &kp BSPC &mo RAISE &tog NMBRS
        >;
    };

    colemak_mod_dh_02 {
      // Colemak-mod-DH Keyboard Layout (witout homerow mods)
      // -------------------------------------     -------------------------------------
      // |     |     |     |     |     |     |     |     |     |     |     |     |QWRTY|
      // |     |     |  R  |  S  |  T  |  G  |     |  M  |  N  |  E  |  I  |     |     |
      // |     |     |     |     |     |     |     |     |     |     |     |     |     |
      // -------------------------------------     -------------------------------------
      //                   |     |     |     |     |     |     |     |
      //                   -------------------     -------------------
      bindings = <
        &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &to QWRTY
        &trans &trans &kp R  &kp S  &kp T  &kp G      &kp M  &kp N  &kp E  &kp I  &kp O  &trans
        &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
                             &trans &trans &trans     &trans &trans &trans
        >;
    };

    qwerty {
      // QWERTY Keybord Layout
      // -------------------------------------     -------------------------------------
      // |     |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |CLMK0|
      // |     |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |     |
      // |     |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  |     |
      // -------------------------------------     -------------------------------------
      //                   |     |     |     |     |     |     |     |
      //                   -------------------     -------------------
      bindings = <
        &trans &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U    &kp I     &kp O   &kp P    &to CLMK0
        &trans &kp A &kp S &kp D &kp F &kp G     &kp H &kp J    &kp K     &kp L   &kp SEMI &trans
        &trans &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M    &kp COMMA &kp DOT &kp FSLH &trans
                        &trans &trans &trans     &trans &trans &trans
        >;
    };

    lower_layer {
      // -------------------------------------     -------------------------------------
      // |     |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  |     |
      // |     |     |     |     |     |     |     | LEFT| DOWN|  UP |RIGHT|     |     |
      // |     |     |     |     |     |     |     |     |     |     |     |     |     |
      // -------------------------------------     -------------------------------------
      //                   |     |     |     |     | DEL |FKEYS|     |
      //                   -------------------     -------------------
      bindings = <
        &trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5     &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans
        &trans &trans &trans &trans &trans &trans     &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
        &trans &trans &trans &trans &trans &trans     &trans   &trans   &trans &trans    &trans &trans
                             &trans &trans &trans     &kp DEL &mo FKEYS &trans
        >;
    };

    raise_layer {
      // -------------------------------------     -------------------------------------
      // |     |  !  |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |SLEEP|
      // |     |     |     |     |     |     |     |  -  |  =  |  [  |  ]  |  \  |  `  |
      // |     |     |     |     |     |     |     |  _  |  +  |  {  |  }  |  |  |  ~  |
      // -------------------------------------     -------------------------------------
      //                   |     |NMBRS|     |     |     |     |     |
      //                   -------------------     -------------------
      bindings = <
        &trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT     &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp K_SLEEP
        &trans &trans   &trans &trans   &trans   &trans        &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
        &trans &trans   &trans &trans   &trans   &trans        &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                                   &trans &mo NMBRS &trans     &trans &trans &trans
        >;
    };

    numbers {
      // -------------------------------------     -------------------------------------
      // |BTCLR| BT5 | BT4 | BT3 | BT2 | BT1 |     |  -  |  7  |  8  |  9  |  /  |     |
      // |     |     |     |     |     |     |     |  +  |  4  |  5  |  6  |  *  |     |
      // |     |     |     |     |     |     |     |  0  |  1  |  2  |  3  |     |     |
      // -------------------------------------     -------------------------------------
      //                   |     |     |     |     |     |     |     |
      //                   -------------------     -------------------
      bindings = <
        &bt BT_CLR &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0     &kp MINUS &kp N7 &kp N8 &kp N9 &kp SLASH &trans
        &trans &trans &trans &trans &trans &trans                                       &kp PLUS  &kp N4 &kp N5 &kp N6 &kp STAR  &trans
        &trans &trans &trans &trans &trans &trans                                       &kp N0    &kp N1 &kp N2 &kp N3 &trans    &trans
                             &trans &trans &trans                                       &trans &trans &trans
        >;
    };

    f_keys {
      // -------------------------------------     -------------------------------------
      // |     |     |     |     |     |     |     |     |  F7 |  F8 |  F9 | F10 |     |
      // |     |     |     |     |     |     |     |     |  F4 |  F5 |  F6 | F11 |     |
      // |     |     |     |     |     |     |     |     |  F1 |  F2 |  F3 | F12 |     |
      // -------------------------------------     -------------------------------------
      //                   |     |     |     |     |     |     |     |
      //                   -------------------     -------------------
      bindings = <
        &trans &trans &trans &trans &trans &trans     &trans &kp F7 &kp F8 &kp F9 &kp F10 &trans
        &trans &trans &trans &trans &trans &trans     &trans &kp F4 &kp F5 &kp F6 &kp F11 &trans
        &trans &trans &trans &trans &trans &trans     &trans &kp F1 &kp F2 &kp F3 &kp F12 &trans
                             &trans &trans &trans     &trans &trans &trans
        >;
    };

    blank_layer {
      // -------------------------------------     -------------------------------------
      // |     |     |     |     |     |     |     |     |     |     |     |     |     |
      // |     |     |     |     |     |     |     |     |     |     |     |     |     |
      // |     |     |     |     |     |     |     |     |     |     |     |     |     |
      // -------------------------------------     -------------------------------------
      //                   |     |     |     |     |     |     |     |
      //                   -------------------     -------------------
      bindings = <
        &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
                             &trans &trans &trans     &trans &trans &trans
        >;
    };
  };
};
